body {
    font-family: 'Ubuntu', sans-serif;
    border-top: 10px solid #1098ad;
    margin-top: 0;
}

/* Home NavBar Comp */
.nav-bar {
    position: static;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #1098ad;
}

.navigation a:link, .navigation a:visited {
    margin-right: 30px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navigation a:hover, .navigation a:active {
    color: #034c57;
    font-size: 19px;
    text-decoration: underline;
}

.home-comp {
    background-color: #fdeded;
}

.main-logo a:link , .main-logo a:visited, .main-logo a:hover, .main-logo a:active {
    text-decoration: none;
    color: #000000;
}

/* Login */
.account-heading {
    margin: 0 auto;
    font-size: 32px;
}

/* Account Details */
.account-details {
    margin-top: 10px;
    list-style: none;
    font-size: 20px;
}

/* Home Comp */ 
.about-heading {
    margin: 0 auto;
    font-size: 52px;
}

/* Login Comp */
.login-heading {
    margin: 0 auto;
}

/* Register Links */
.register-links a:link, .register-links a:visited {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.register-links a:hover, .register-links a:active {
    color: #034c57;
    font-size: 19px;
    text-decoration: underline;
}

/* Link */
.goback {
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: inherit;
}

.link-color {
    font-weight: bold;
}