body {
    font-family: 'Ubuntu', sans-serif;
    border-top: 10px solid #1098ad;
    margin-top: 0;
}

/* Home NavBar Comp */
.nav-bar {
    position: static;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #1098ad;
}

.navigation a:link, .navigation a:visited {
    margin-right: 50px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.navigation a:hover, .navigation a:active {
    color: #1C5AA1;
}

/* Title Logo*/
.main-logo:link , .main-logo:visited, .main-logo:hover, .main-logo:active {
    text-decoration: none;
    color: #000000;
}

/* Home Comp */ 
.about-heading {
    margin: 0 auto;
    font-size: 52px;
}

/* Login Comp */
.login-heading {
    margin: 0 auto;
}

.link-color:link, .link-color:visited {
    font-weight: bold;
    color: #5624d0;
}

.link-color:hover, .link-color:active {
    color: #02045e;
}

/* Account Comp */
.account-heading {
    margin: 0 auto;
    font-size: 32px;
}

/* Account Details */
.account-details {
    margin-top: 10px;
    list-style: none;
    font-size: 20px;
}

/* Media Container Comp Links */
.goback {
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: inherit;
}

/* Register Links */
.register-links:link, .register-links:visited {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.register-links:hover, .register-links:active {
    color: #034c57;
    font-size: 18.5px;
}

/* Lectures NotFound */
.lecture-notfound:link, .lecture-notfound:visited {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.lecture-notfound:hover, .lecture-notfound:active {
    color: #1098ad;
    font-size: 21px;
}